*, html {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    line-height: 1.5;
    background-color: black;
}
nav {
    width: 300px;
    position: fixed;
    min-width: 290px;
    left: 5px;
    height: 100%;
    border-right: solid;
    color: darkorange;
}
nav header {
    font-size: 1.6em;
    text-align: left;
    margin: 50px 20px 40px 20px;
}
nav ul {
    height: 88%;
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}
nav li {
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
    margin-left: 5px;
}
nav a {
    text-decoration: none;
    display: block;
    padding: 10px 10px;
    color: darkorange;
    cursor: pointer;
}
main {
    margin-left: 310px;
    position: absolute;
    padding: 20px;
}
main header {
    color: darkorange;
    font-size: 1.6em;
}
main p {
    padding: 5px;
    font-size: 1.1em;
    color: beige;
}
main ul {
    padding-bottom: 15px;
}
main li {
    margin-left: 15px;
    color: beige;
}
main section {
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid darkorange;
}
#backpack {
    border-top: none;
    margin-top: 10px;
}
main img {
    width: 100%;
    padding: 20%;
}
@media screen and (max-width: 815px) {
    nav ul {
        height: 145px;
    }
    nav {
        /* background-color: lemonchiffon; */
        position: absolute;
        width: 100%;
        max-height: 275px;
        top: 0;
        margin: 0;
        padding: 0;
        border-bottom: 2px solid;
    }
    main {
        position: relative;
        margin-top: 270px;
        margin-left: 0;
    }
}
@media screen and (max-width: 400px) {
    main {
        margin-left: -10px;
    }
    
}